- name: Download latest Firefox
  get_url:
    url: "https://download.mozilla.org/?product=firefox-latest-ssl&os=linux64&lang=en-GB"
    dest: /tmp/firefox.tar.bz2
    mode: '0644'

- name: Extract Firefox archive
  unarchive:
    src: /tmp/firefox.tar.bz2
    dest: /opt/
    remote_src: true
    creates: /opt/firefox/firefox

- name: Ensure applications directory exists
  file:
    path: /usr/local/share/applications
    state: directory
    mode: '0755'

- name: Ensure symlink for Firefox binary exists
  file:
    src: /opt/firefox/firefox
    dest: /usr/local/bin/firefox
    state: link
    force: true

- name: Install Firefox desktop entry
  get_url:
    url: https://raw.githubusercontent.com/mozilla/sumo-kb/main/install-firefox-linux/firefox.desktop
    dest: /usr/local/share/applications/firefox.desktop
    mode: '0644'

- name: Upgrade all packages
  apt:
    upgrade: full

- name: Install additional packages
  apt:
    pkg:
      - nano
      - tar
      - emacs
      - git
      - vim
      - bzip2
      - gcc
      - make
      - perl
      - xsel
      - xclip
      - scrot
      - shutter
      - less
      - htop
      - zip
      - unzip
      - git
      - subversion
      - lsof
      - build-essential
      - gdb
      - cscope
      - exuberant-ctags
      - strace
      - ltrace
      - valgrind
      - gawk
      - bash-completion
      - expect
      - netcat-traditional
      - telnet
      - lynx
      - curl
      - ncftp
      - host
      - dnsutils
      - smbclient
      - cifs-utils
      - ldap-utils
      - finger
      - pciutils
      - usbutils
      - lshw
      - mc
      - tree
      - apt-file
      - genisoimage
      - tcpdump
      - nmap
      - manpages-posix
      - manpages-posix-dev
      - make-doc
      - glibc-doc-reference
      - pwgen
      - lshw
      - inxi
      - org-mode
      - screen
      - tmux
      - tmux-plugin-manager
      - ethtool
      - net-tools
      - imagemagick
      - iotop
      - sysstat
      - unrar
      - p7zip
      - lzma
      - xz-utils
      - moreutils
      - gedit
      - vlc
      - libreoffice
      - rhythmbox
      - gnome-mines
      - locate
    state: latest
    update_cache: true
