- name: Provision image
  hosts: all
  become: true

  tasks:
    - name: Check if cloud-init is installed
      package_facts:
    - name: Clean cloud-init artifacts
      command: cloud-init clean
      when: "'cloud-init' in ansible_facts.packages"

    - name: Purge unnecessary packages
      apt:
        name:
          - snapd
          - unattended-upgrades
          - gnome-initial-setup
          - linux-firmware
          - linux-headers*
          - cloud-init*
        state: absent
        purge: yes
        autoremove: yes

    - name: Prevent snap reinstallation
      dpkg_selections:
        name: snapd
        selection: hold

    - name: Update grub configuration
      command: update-grub2

    - import_tasks: _install_packages.yml

    - import_tasks: _install_vbox_guest_additions.yml

    - name: Update root password
      user:
        name: root
        update_password: always
        # python -c 'import crypt; print(crypt.crypt("root", "$1$NaCl$"))'
        password: $1$NaCl$Mb6A.7Qvm5pyF/2OFUCum0

    - name: Configure git for root and student
      become: yes
      shell: |
        git config --global color.ui auto
        git config --global user.name '{{ item.git_name }}'
        git config --global user.email '{{ item.git_email }}'
      loop:
        - { user: student, git_name: 'Student USO VM User', git_email: 'student@stud.acs.upb.ro' }
        - { user: root, git_name: 'Root USO VM User', git_email: 'root@stud.acs.upb.ro' }
      loop_control:
        loop_var: item
      become_user: "{{ item.user }}"

    - name: Clone the main repository
      become: yes
      become_user: student
      git:
        repo: https://github.com/systems-cs-pub-ro/uso-lab
        dest: /home/student/uso-lab.git

    - name: Make vim as default editor
      command:
        cmd: update-alternatives --set editor /usr/bin/vim.basic

    - name: Ensure vim backup directories exist
      file:
        path: "{{ item }}"
        state: directory
        mode: '0755'
      loop:
        - /home/student/.vim/backup
        - /root/.vim/backup

    - name: Configure vim globally
      copy:
        src: artefacts/.vimrc
        dest: "{{ item }}"
        mode: 0644
      loop:
        - /etc/vim/vimrc
        - /root/.vimrc

    - name: Configure vim for student
      copy:
        src: artefacts/.vimrc
        dest: /home/student/.vimrc
        owner: student
        group: student

    - name: Set collation to show capitalized names first
      command:
        cmd: update-locale LC_COLLATE=C

    - name: Trim Bash prompt when too large
      command:
        cmd: echo -e '\nexport PROMPT_DIRTRIM=3' >> /etc/bash.bashrc

    - name: Add tmux configuration
      copy:
        src: artefacts/.tmux.conf
        dest: /home/student/.tmux.conf
        mode: 0644
        owner: student
        group: student

    - name: Add tmux configuration for root
      copy:
        src: artefacts/.tmux.conf
        dest: /root/.tmux.conf
        mode: 0644

    - name: Configure gnome desktop
      shell: |
        gsettings set org.gnome.desktop.screensaver lock-enabled false
        gsettings set org.gnome.desktop.screensaver ubuntu-lock-on-suspend false
        gsettings set org.gnome.shell favorite-apps "['org.gnome.Nautilus.desktop', 'firefox.desktop','org.gnome.Terminal.desktop']"

    - import_tasks: _ctf_challenges.yml

    - name: Clean command history for student and root
      shell: |
        history -c
        unset HISTFILE
        rm -f {{ user_home }}/bash_history
      become: yes
      become_user: "{{ item.user }}"
      vars:
        user_home: "{{ item.home }}"
      loop:
        - { user: 'student', home: '/home/student' }
        - { user: 'root', home: '/root' }
